.cart-auction-container {
    display: flex;
    column-gap: 20px;
    height: 100%;
    align-items: center;

    .price-levels {
        .price-levels-form {
            .prcie-level {
                display: flex;
                align-items: center;

                .progress-bar-container {
                    display: flex;
                    width: 400px;

                    .progress-bar {
                        width: 300px;
                    }

                }
            }
        }
    }
}