.paper {
  width: 500px;
  margin: 50px auto;
  padding: 20px 0;
  justify-content: center;

  .flexContainer {
    display: flex;
    margin-top: 30px;

    .field {
      width: 100%;
      margin: 0;
    }
  }

  .title {
    text-align: center;
  }

  .divider {
    margin: 20px;
  }

  .field {
    display: flex;
    margin: 40px 0;
    padding: 0 30px;
  }

  .icon {
    align-self: center;
    margin: 17px 5px 0 0;
  }

  .button {
    color: white;
    background-color: #4bb543;
    display: flex;
    margin: 30px auto;
    min-width: 90px;
  }
}
