@import "../../../css-definitions";

.input {
  display: flex;
  justify-content: center;
  width: 298px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid lighten($dark-blue, 20%);
  background-color: #ecf0f1;
  color: dark-blue;
  outline: 0;

  &:nth-child(1) {
    margin-top: 35px;
  }
  &:nth-child(2) {
    margin-top: 20px;
  }
}
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
/*Change text in autofill textbox*/
.input:-webkit-autofill {
  text-align: center;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  -moz-box-shadow: 0 0 0 100px #fff inset;
  box-shadow: 0 0 0 100px #fff inset;
}
.valid {
  text-align: center;
}

.input[placeholder] {
  padding-left: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: $dark-blue;

  /* Set placeholders colors */
  &::-webkit-input-placeholder {
    color: $dark-blue;
  }
  &:-moz-placeholder {
    color: $dark-blue;
  }
  &::-moz-placeholder {
    color: $dark-blue;
  }
  &:-ms-input-placeholder {
    color: $dark-blue;
  }
}
