.paper {
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .formHeader,
  .formFooter {
    width: 100%;
    .title {
      text-align: center;
    }

    .formDividerTop {
      margin-top: 20px;
      margin-bottom: 15px;
    }

    .formDividerBottom {
      margin-top: 5px;
      margin-bottom: 20px;
    }
  }
}
