@import "../../css-definitions";
form {
  height: 100%;
  .sign-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
    height: 90%;
    .input-container {
      width: 100%;
      justify-content: space-between;
      height: 80%;
      display: flex;
      flex-direction: column;

      .input-fields-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        margin-bottom: 40px;
        .input-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          .input-feedback {
            color: rgb(235, 54, 54);
            font-size: 14px;
            margin-bottom: 20px;
          }
        }
      }
      .buttons {
        display: flex;
        justify-content: space-evenly;
      }
    }
    .new-user-container {
    }
  }
}
