.products-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 72%;
  text-align: center;
  margin-left: 14%;
  .product-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-right: 10px;
    .product-image {
      max-width: 34rem;
      max-height: 34rem;
    }
    .fields-container {
      .field {
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }
}
