.iconButton {
  &:focus {
    outline: none;
  }
}

.categoryProduct {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.divider.divider {
  margin-top: 30px;
}

.test {
  display: flex;
  align-items: baseline;
}


.auto-complete-container {
  max-height: 800px;
}